{% extends 'layouts/list.html.twig' %}

{% block _navbar_controls %}
    <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
            <a href="{{ path('app.country.manage') }}"
               class="btn btn-info btn-fill">
                Add new country
            </a>
        </li>
    </ul>
{% endblock %}
