{% extends 'layouts/view.html.twig' %}

{% block country_name %}
    {{ country.name }}
{% endblock %}

{% block data_container %}
    <div class="row">
        {% include 'section/country/partials/_leagues_table.html.twig' with {'leagues': leagues} %}
        {% include 'section/country/partials/_clubs_table.html.twig' with {'clubs': clubs} %}
    </div>
{% endblock %}