{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{% block form_label %}{% endblock %}</h4>
                    </div>
                    <div class="card-body">
                        {% block form_container %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}